body {
  height: 100vh;
  background-image: url(/assets/bg-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  background-attachment: fixed;
  user-select: none;
}
.head1 {
  padding-left: 8vw;
}
.templar-image {
  height: 60vh;
  padding-left: 2vw;
  padding-bottom: 2vh;
}
.headspacing {
  margin-left: 2.5vw;
}
.buttons {
  margin-left: 13vw;
  margin-bottom: 2vh;
}


