body {
  height: 100vh;
  background-image: url(/assets/bg-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.templar-image {
  height: 450px;
  margin-left: 115px;

}
.headspacing {
  margin-left: 25px;
}

